workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://crypto.news/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -2500,
        60
      ],
      "id": "21ec0a0f-b40a-4019-b50c-0f49c07805fc",
      "name": "RSS Read"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2660,
        60
      ],
      "id": "3e894898-0e12-4545-abc3-a0fa41a62a3a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xilTV4Bv8vrpcH6RoNtJbf3aDiYN-dOMXCaZlZhmr8E",
          "mode": "list",
          "cachedResultName": "Blockchain-News",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xilTV4Bv8vrpcH6RoNtJbf3aDiYN-dOMXCaZlZhmr8E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xilTV4Bv8vrpcH6RoNtJbf3aDiYN-dOMXCaZlZhmr8E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "to post",
            "creator": "={{ $json.creator }}",
            "title": "={{ $json.title }}",
            "link": "={{ $json.link }}",
            "pubDate": "={{ $json.pubDate }}",
            "enclosure": "={{ $json.enclosure }}",
            "dc:creator": "={{ $json['dc:creator'] }}",
            "content": "={{ $json.content }}",
            "contentSnippet": "={{ $json.contentSnippet }}",
            "guid": "={{ $json.guid }}",
            "categories": "={{ $json.categories }}",
            "isoDate": "={{ $json.isoDate }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "twitter",
              "displayName": "twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedin",
              "displayName": "linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "creator",
              "displayName": "creator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pubDate",
              "displayName": "pubDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "enclosure",
              "displayName": "enclosure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dc:creator",
              "displayName": "dc:creator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contentSnippet",
              "displayName": "contentSnippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "guid",
              "displayName": "guid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "categories",
              "displayName": "categories",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "isoDate",
              "displayName": "isoDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2240,
        60
      ],
      "id": "3ffa9a12-a768-4651-aea5-6cb515f543ff",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "<YOUR_GOOGLE_SHEETS_CREDENTIAL_ID>",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -2380,
        -160
      ],
      "id": "09c2e7c7-59b5-4771-ac09-fe8739683f70",
      "name": "Limit"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xilTV4Bv8vrpcH6RoNtJbf3aDiYN-dOMXCaZlZhmr8E",
          "mode": "list",
          "cachedResultName": "Blockchain-News",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xilTV4Bv8vrpcH6RoNtJbf3aDiYN-dOMXCaZlZhmr8E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xilTV4Bv8vrpcH6RoNtJbf3aDiYN-dOMXCaZlZhmr8E/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "twitter",
              "lookupValue": "yes"
            },
            {
              "lookupColumn": "linkedin",
              "lookupValue": "yes"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1880,
        20
      ],
      "id": "8dfcf92d-7200-475b-bacd-cdb840956292",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vA2V74lS73Ua3bSy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Blockchain News Agent that uses  {{ $json.title }} {{ $json.content }} {{ $json.categories }} and rewrites it into a Linkedin Post informing the audience about the news. This post should not have any markdown formatting or \\n. Do not add any urls to the output.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1400,
        -280
      ],
      "id": "48e1b6d7-26cb-460b-a4ba-390d6495d5f3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1360,
        20
      ],
      "id": "9115d8c2-45bd-447d-ac04-522efbdc2908",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "KKy3kNIgqytPPhlf",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json[\"body\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -380,
        -300
      ],
      "id": "2996315e-3f44-4763-8fdc-2e575b1f54d2",
      "name": "HTTP Request",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "iZNWLP8WYOlD0f4I",
          "name": "LinkedIn account"
        },
        "httpBearerAuth": {
          "id": "SSSFyhKkn7BcSCpv",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1n1CUR1VoZNyEWmTUT4KPIkJNjCD-BUrL7MXSXk8lWxE",
          "mode": "list",
          "cachedResultName": "Linkedin-Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n1CUR1VoZNyEWmTUT4KPIkJNjCD-BUrL7MXSXk8lWxE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n1CUR1VoZNyEWmTUT4KPIkJNjCD-BUrL7MXSXk8lWxE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "output": "={{ $json.output }}",
            "title": "={{ $('Google Sheets1').item.json.title }}",
            "status": "to post"
          },
          "matchingColumns": [
            "output"
          ],
          "schema": [
            {
              "id": "approve",
              "displayName": "approve",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1080,
        -140
      ],
      "id": "b61c90ee-03fb-407c-8179-2ccc37fea49e",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vA2V74lS73Ua3bSy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1n1CUR1VoZNyEWmTUT4KPIkJNjCD-BUrL7MXSXk8lWxE",
          "mode": "list",
          "cachedResultName": "Linkedin-Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n1CUR1VoZNyEWmTUT4KPIkJNjCD-BUrL7MXSXk8lWxE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n1CUR1VoZNyEWmTUT4KPIkJNjCD-BUrL7MXSXk8lWxE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "approve",
              "lookupValue": "yes"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -780,
        -140
      ],
      "id": "da55acf6-b1cb-44de-adcb-12d0d2ad365c",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vA2V74lS73Ua3bSy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
  "jsCode": "return [\n  {\n    json: {\n      body: {\n        author: \"urn:li:person:<YOUR_LINKEDIN_PERSON_URN>\",\n        lifecycleState: \"PUBLISHED\",\n        specificContent: {\n          \"com.linkedin.ugc.ShareContent\": {\n            shareCommentary: {\n              text: $input.first().json.output,  // dynamically insert output here\n            },\n            shareMediaCategory: \"NONE\",\n          },\n        },\n        visibility: {\n          \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\",\n        },\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -620,
        -300
      ],
      "id": "c4c2485c-c269-4d54-b14b-4d39baeef47a",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1n1CUR1VoZNyEWmTUT4KPIkJNjCD-BUrL7MXSXk8lWxE",
          "mode": "list",
          "cachedResultName": "Linkedin-Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n1CUR1VoZNyEWmTUT4KPIkJNjCD-BUrL7MXSXk8lWxE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n1CUR1VoZNyEWmTUT4KPIkJNjCD-BUrL7MXSXk8lWxE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "completed",
            "id": "={{ $json.id }}",
            "output": "={{ $('Code').item.json.body.specificContent[\"com.linkedin.ugc.ShareContent\"].shareCommentary.text }}",
            "title": "={{ $json.title }}"
          },
          "matchingColumns": [
            "title"
          ],
          "schema": [
            {
              "id": "approve",
              "displayName": "approve",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        -160
      ],
      "id": "d982d457-726f-4c7f-be1e-eb3f4ba865dc",
      "name": "Google Sheets4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vA2V74lS73Ua3bSy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "<YOUR_EMAIL>",
        "subject": "Approve the posts",
        "message": "=Check and approve the posts! Link: https://docs.google.com/spreadsheets/d/<YOUR_BLOCKCHAIN_NEWS_SHEET_ID>/edit?usp=sharing",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2060,
        -140
      ],
      "id": "0fa75a4f-17c7-47cf-9bf2-513a205b883b",
      "name": "Gmail",
      "webhookId": "fe88ae2e-662d-48e7-ad98-17fa57e8830c",
      "credentials": {
        "gmailOAuth2": {
          "id": "<YOUR_GMAIL_CREDENTIAL_ID>",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
  "sendTo": "<YOUR_EMAIL>",
        "subject": "Approve the posts",
  "message": "=Check and approve the posts! Link: https://docs.google.com/spreadsheets/d/<YOUR_LINKEDIN_POST_SHEET_ID>/edit?usp=sharing",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -940,
        -300
      ],
      "id": "c65e57e1-aa28-4d2c-8146-7f8373a54275",
      "name": "Gmail1",
      "webhookId": "fe88ae2e-662d-48e7-ad98-17fa57e8830c",
      "credentials": {
        "gmailOAuth2": {
          "id": "<YOUR_GMAIL_CREDENTIAL_ID>",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "24f67000-d258-497c-9bb9-4be002a7a71a",
      "name": "X",
      "type": "n8n-nodes-base.twitter",
      "position": [
        -320,
        260
      ],
      "typeVersion": 2,
      "credentials": {
        "twitterOAuth2Api": {
          "id": "<YOUR_X_CREDENTIAL_ID>",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Blockchain News Agent that uses  {{ $json.title }} {{ $json.content }} {{ $json.categories }} and rewrites it into a Twitter (X) Post informing the audience about the news. This post should not have any markdown formatting. Do not add any urls to the output.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1400,
        340
      ],
      "id": "bea2773e-e054-48ef-81b6-98b8907ed0cb",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "<YOUR_X_POST_SHEET_ID>",
          "mode": "list",
          "cachedResultName": "X-Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<YOUR_X_POST_SHEET_ID>/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13sXDew8Nb6ckBO0hXMfewVIp5biN_gpnZs5SpoMfYIw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "approve",
              "lookupValue": "yes"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -800,
        340
      ],
      "id": "2367e45c-c858-4069-b4b5-6270f1904be6",
      "name": "Google Sheets8",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vA2V74lS73Ua3bSy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "bhavyajha1404@gmail.com",
        "subject": "Approve the posts",
        "message": "=Check and approve the posts! Link: https://docs.google.com/spreadsheets/d/1n1CUR1VoZNyEWmTUT4KPIkJNjCD-BUrL7MXSXk8lWxE/edit?usp=sharing",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -940,
        140
      ],
      "id": "874cebae-14ac-471b-a4e0-4bc075431359",
      "name": "Gmail2",
      "webhookId": "fe88ae2e-662d-48e7-ad98-17fa57e8830c",
      "credentials": {
        "gmailOAuth2": {
          "id": "HouWmBzMSJ2DICk8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "13sXDew8Nb6ckBO0hXMfewVIp5biN_gpnZs5SpoMfYIw",
          "mode": "list",
          "cachedResultName": "X-Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13sXDew8Nb6ckBO0hXMfewVIp5biN_gpnZs5SpoMfYIw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13sXDew8Nb6ckBO0hXMfewVIp5biN_gpnZs5SpoMfYIw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "output": "={{ $json.output }}",
            "title": "={{ $('Google Sheets1').item.json.title }}",
            "status": "to post"
          },
          "matchingColumns": [
            "output"
          ],
          "schema": [
            {
              "id": "approve",
              "displayName": "approve",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1060,
        340
      ],
      "id": "e30f9fde-edc4-4ff1-8733-ebb6427f6cc1",
      "name": "Google Sheets9",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vA2V74lS73Ua3bSy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8731f8ed-c846-4b8a-961e-af928da07625",
              "leftValue": "={{ $json.linkedin }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "084b9fd7-6576-4850-9e83-44dd45348be7",
              "leftValue": "={{ $json.status }}",
              "rightValue": "to post",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1620,
        -160
      ],
      "id": "d4895590-91b3-4382-876d-c05d7880414f",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8731f8ed-c846-4b8a-961e-af928da07625",
              "leftValue": "={{ $json.twitter }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2c80f02f-209e-4cf4-a389-bb25a83e7edb",
              "leftValue": "={{ $json.status }}",
              "rightValue": "to post",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1640,
        220
      ],
      "id": "5c064eb1-8d81-4150-bb16-614f0b6697df",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13sXDew8Nb6ckBO0hXMfewVIp5biN_gpnZs5SpoMfYIw",
          "mode": "list",
          "cachedResultName": "X-Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13sXDew8Nb6ckBO0hXMfewVIp5biN_gpnZs5SpoMfYIw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13sXDew8Nb6ckBO0hXMfewVIp5biN_gpnZs5SpoMfYIw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "completed",
            "id": "={{ $json.id }}",
            "output": "={{ $json.text }}",
            "title": "={{ $json.title }}"
          },
          "matchingColumns": [
            "title"
          ],
          "schema": [
            {
              "id": "approve",
              "displayName": "approve",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        420
      ],
      "id": "d8794ce7-909f-4213-95e2-7fb27d2d0a61",
      "name": "Google Sheets6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vA2V74lS73Ua3bSy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output;\nreturn { text };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        260
      ],
      "id": "1b53c49e-f9ff-403c-bfab-990274f53bc5",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1xilTV4Bv8vrpcH6RoNtJbf3aDiYN-dOMXCaZlZhmr8E",
          "mode": "list",
          "cachedResultName": "Blockchain-News",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xilTV4Bv8vrpcH6RoNtJbf3aDiYN-dOMXCaZlZhmr8E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xilTV4Bv8vrpcH6RoNtJbf3aDiYN-dOMXCaZlZhmr8E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.title1 || $json.title2 }}",
            "status": "completed"
          },
          "matchingColumns": [
            "title"
          ],
          "schema": [
            {
              "id": "twitter",
              "displayName": "twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedin",
              "displayName": "linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creator",
              "displayName": "creator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pubDate",
              "displayName": "pubDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "enclosure",
              "displayName": "enclosure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dc:creator",
              "displayName": "dc:creator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contentSnippet",
              "displayName": "contentSnippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "guid",
              "displayName": "guid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "categories",
              "displayName": "categories",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "isoDate",
              "displayName": "isoDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        720,
        100
      ],
      "id": "db4aaf1e-a140-409c-94c4-8a5140504bde",
      "name": "Google Sheets5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vA2V74lS73Ua3bSy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return { title: $input.first().json.title };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -380,
        -40
      ],
      "id": "61d525ce-62ff-4e0a-beea-26c144b02a7c",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "return { title: $input.first().json.title };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        480
      ],
      "id": "b6c63c2c-4561-4c69-8621-de765fa7c2a6",
      "name": "Code3"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n  (SELECT id FROM input1 LIMIT 1) AS id,\n  (SELECT title FROM input2 LIMIT 1) AS title\n",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -60,
        -160
      ],
      "id": "3614f7a9-8531-49d2-b913-87bed1952980",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n  (SELECT text FROM input1 LIMIT 1) AS text,\n  (SELECT id FROM input1 LIMIT 1) AS id,\n  (SELECT edit_history_tweet_ids FROM input1 LIMIT 1) as edit_history_tweet_ids,\n  (SELECT title FROM input2 LIMIT 1) AS title\n",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -80,
        420
      ],
      "id": "01b1ccab-5103-4579-b205-5fa3cdab314a",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT\n  (SELECT title FROM input1 LIMIT 1) AS title1,\n  (SELECT title FROM input2 LIMIT 1) AS title2\n",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        500,
        100
      ],
      "id": "16fd9995-df8a-49e2-95e3-167539b27505",
      "name": "Merge2"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets8": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail2": {
      "main": [
        [
          {
            "node": "Google Sheets8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets9": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Google Sheets9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets6": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Google Sheets6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0e0c4313-75f6-4339-a3b5-acc5bd7fcdf3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b522e30704ad96bef108f0dffc14261cfdd62933ed0e9fe4bd649293e89f009d"
  },
  "id": "gtZvogUWLauKCkpx",
  "tags": []
}